---
---

@import "{{ site.theme }}";

h1 {
    color: white;
}

h2 {
    color: black;
}

.main-content h1 {
    color: black;
}

.main-content h2 {
    color: black;
}

.main-content h3 {
    color: #006600;
}

.highlight .sr{color:#006600}
